@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gradient-radial {
  background: rgb(0, 90, 215);
  background: linear-gradient(256deg, rgb(1, 97, 231) 0%, rgb(208, 221, 239) 55%, rgb(1, 92, 219) 100%);
}


.bg-radial{
  background: url(../src/assets/BG.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.ul-item li{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: ease-in-out 350ms;
}
.ul-item li svg{
  transition: ease-in-out 350ms;
  filter: invert(56%) sepia(62%) saturate(255%) hue-rotate(177deg) brightness(110%) contrast(90%);
}
.ul-item li:hover{
  cursor: pointer;
  background: #4094F7;
  
}
.ul-item li:hover svg{
  filter: invert(0%) sepia(0%) saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%);
}
